@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.gallery{
    margin-top: 80px;
    margin-bottom: 200px;
    padding: 0 8%;
}

.gallery-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-title{
    display: contents;
    align-items: center;
    color: black;
    font-size: 2.5rem;
    font-weight: 900;
    flex-shrink: 0;
}

.gallery-title::after{
    border-top: 1px solid #ededed;
    content: "";
    flex-grow: 1;
    margin: 0 10px;
}

.gallery-title-text-pc{
    display: flex;
    cursor: pointer;
    flex-shrink: 0;
}

.gallery-title-text-pc p{
    color: #000;
    font-size: .9rem;
    font-weight: 600;
}

.gallery-arrow-right{
    position: relative;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    flex-shrink: 0;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1,1);
}

.gallery-arrow-right.hover{
    background-color: #600624;
    border: 2px solid #600624;
    transform: scale(1.3,1.3);
}

.gallery-arrow-right::before,
.gallery-arrow-right::after{
    position: absolute;
    content:'';
}

.gallery-arrow-right::before{
    top: 47%;
    left: 4px;
    width: 8px;
    height: 2px;
    background: #000;
}

.gallery-arrow-right.hover::before{
    background: #fff;
}

.gallery-arrow-right::after{
    top: 34%;
    left: 6px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}

.gallery-arrow-right.hover::after{
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.gallery-contents{
    margin-top: 40px;
}

.gallery-item{
    position: relative;
    margin-right: 40px;
    cursor: pointer;
}

.gallery-item:last-child{
    margin-right: 0;
}

.gallery-item-image1,
.gallery-item-image2,
.gallery-item-image3{
    width: 100%;
    height: 12rem;
    border-radius: 5px;
}

.gallery-item-image1{
    background-image: url(../../../assets/images/gallery01.jpg);
    background-size: cover;
}

.gallery-item-image2{
    background-image: url(../../../assets/images/gallery02.jpg);
    background-size: cover;
}

.gallery-item-image3{
    background-image: url(../../../assets/images/gallery03.jpg);
    background-size: cover;
}

.gallery-movie{
    position: absolute!important;
    bottom: 30%;
    right: 20px;
    transform: scale(1,1);
    transition: all .3s;
}

.gallery-movie.active{
    transform: scale(1.3,1.3);
    transition: all .3s;
}

.gallery-item-text-main{
    color: #600624;
    font-size: .8rem;
    font-weight: 900;
    margin: 10px 0;
}

.gallery-item-text-sub{
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

.gallery-title-text-sp{
    display: none;
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.gallery{
    margin-top: 80px;
    margin-bottom: 100px;
}

.gallery-title{
    color: #000;
    font-size: 2rem;
    font-weight: 900;
    padding: 0 8%;
}

.gallery-contents{
    margin-top: 40px;
}

.gallery-slider{
    padding-left: 8%;
}

.gallery-title-text-pc{
    display: none;
}

.gallery-item{
    position: relative;
    margin-right: 40px;
    cursor: pointer;
}

.gallery-item:last-child{
    margin-right: 0;
}

.gallery-item-image1,
.gallery-item-image2,
.gallery-item-image3{
    width: 100%;
    height: 12rem;
    border-radius: 5px;
}

.gallery-item-image1{
    background-image: url(../../../assets/images/gallery01.jpg);
    background-size: cover;
}

.gallery-item-image2{
    background-image: url(../../../assets/images/gallery02.jpg);
    background-size: cover;
}

.gallery-item-image3{
    background-image: url(../../../assets/images/gallery03.jpg);
    background-size: cover;
}

.gallery-movie{
    position: absolute!important;
    bottom: 30%;
    right: 20px;
}

.gallery-item-text-main{
    color: #600624;
    font-size: .7rem;
    font-weight: 900;
    margin: 10px 0;
}

.gallery-item-text-sub{
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

.gallery-title-text-sp{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 8%;
    margin-top: 30px;
}

.gallery-title-text-sp::before{
    border-top: 1px solid #ededed;
    content: "";
    flex-grow: 1;
    margin-right: 20px;
}

.gallery-title-text-sp p{
    color: #000;
    font-size: .9rem;
    font-weight: 600;
}

.gallery-arrow-right{
    position: relative;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    flex-shrink: 0;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1,1);
}

.gallery-arrow-right.hover{
    background-color: #600624;
    border: 2px solid #600624;
    transform: scale(1.3,1.3);
}

.gallery-arrow-right::before,
.gallery-arrow-right::after{
    position: absolute;
    content:'';
}

.gallery-arrow-right::before{
    top: 47%;
    left: 4px;
    width: 8px;
    height: 2px;
    background: #000;
}

.gallery-arrow-right::after{
    top: 34%;
    left: 6px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}

}