@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.hamburgerMenu{
    position: absolute;
    top: -200%;
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
    overflow: scroll;
    z-index: 3;
}

.hamburgerMenu.active{
    top: 0;
}

.hamburgerMenu-sp-search{
    display: none;
}

.hamburgerMenu-wrap{
    display: flex;
    justify-content: space-between;
}

.hamburgerMenu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.hamburgerMenu-logo{
    width: 100px;
    height: 60px;
    cursor: pointer;
}


.hamburgerMenu-btn{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
    transform: scale(1,1);
    z-index: 999;
}

.hamburgerMenu-btn span{
    position: absolute;
    left: 14px;
    width: 45%;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    transition: all .4s;
}

.hamburgerMenu-btn.active{
    background-color: #600624;
    transform: scale(1.3,1.3);
}

.hamburgerMenu-btn span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(45deg);
    width: 30%;
}

.hamburgerMenu-btn span:nth-of-type(2) {
	opacity: 0;
}

.hamburgerMenu-btn span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(-45deg);
    width: 30%;
}

.hamburgerMenu-mainArea{
    display: flex;
    justify-content: space-between;
}

.hamburgerMenu-mainMenu-wrap{
    padding: 0 4% 50px;
    width: 65%;
}

.hamburgerMenu-main-contents{
    width: 47%;
}

.hamburgerMenu-contents-title-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-top: 1px solid #ebebeb;
    cursor: pointer;
}

.hamburgerMenu-contents-title{
    display: flex;
    align-items: last baseline;
}

.hamburgerMenu-contents-title h4{
    color: #600624;
    font-size: 1.2rem;
    font-weight: 900;
}

.hamburgerMenu-contents-title p{
    color: #B8B0B1;
    font-size: .6rem;
    font-weight: 600;
    margin-left: 10px;
}

.hamburger-contents-box{
    padding-left: 30px;
}

.hamburger-contents-box p{
    color: #000;
    font-size: .9rem;
    font-weight: 500;
    line-height: 2;
    cursor: pointer;
}

.hamburger-contents-box-item p.hover{
    color: #600624;
}

.hamburgerMenu-arrow-right{
    position: relative;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    flex-shrink: 0;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1,1);
}

.hamburgerMenu-arrow-right.hover{
    background-color: #600624;
    border: 2px solid #600624;
    transform: scale(1.3,1.3);
}

.hamburgerMenu-arrow-right::before,
.hamburgerMenu-arrow-right::after{
    position: absolute;
    content:'';
}

.hamburgerMenu-arrow-right::before{
    top: 47%;
    left: 4px;
    width: 8px;
    height: 2px;
    background: #000;
}

.hamburgerMenu-arrow-right.hover::before{
    background: #fff;
}

.hamburgerMenu-arrow-right::after{
    top: 34%;
    left: 6px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}

.hamburgerMenu-arrow-right.hover::after{
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.hamburger-contents-box-list{
    margin-bottom: 30px;
}

.hamburgerMenu-bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
}

.hamburgerMenu-bottom-shop-list{
    display: flex;
}

.hamburgerMenu-bottom-shop-item h5{
    color: #600624;
    font-size: .8rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.hamburgerMenu-guide-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hamburgerMenu-guide-icon p{
    color: #000;
    font-size: .7rem;
    font-weight: 500;
}

.hamburgerMenu-guide-icon p.hover{
    color: #600624;
}

.hamburgerMenu-sns h5,
.hamburgerMenu h5{
    color: #600624;
    font-size: .8rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.hamburgerMenu-sns-icon{
    cursor: pointer;
}

.hamburgerMenu-sns-icon.hover{
    opacity: .7;
}

.hamburgerMenu-side{
    background-color: #fff;
    width: 35%;
}

.hamburgerMenu-search{
    padding: 50px 50px 0;
}

.hamburgerMenu-search-form{
    position: relative;
    display: flex;
}

.hamburgerMenu-search-input{
    width: 100%;
    background-color: #ebebeb;
    border: 0;
    border-radius: 5px;
    margin: 30px 0;
    padding: 20px 10px;
}

.hamburgerMenu-search-icon{
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translate(-50%,-50%);
}

.hamburgerMenu-search-title,
.hamburgerMenu-newProducts-title{
    color: #600624;
    font-size: .8rem;
    font-weight: 900;
}

.hamburgerMenu-search-word p:first-child{
    color: #600624;
    font-size: .7rem;
    font-weight: 500;
}

.hamburgerMenu-search-word p,
.hamburgerMenu-search-word span{
    color: #000;
    font-size: .9rem;
    font-weight: 500;
    line-height: 2;
}

.hamburgerMenu-search-word span{
    cursor: pointer;
}

.hamburgerMenu-search-word span.hover{
    color: #600624;
}

.hamburgerMenu-newProducts{
    overflow: hidden;
}

.hamburgerMenu-newProducts-title{
    padding: 150px 50px 0;
}

.hamburgerMenu-newProducts-slider-container{
    width: 1812px;
    display: flex;
    align-items: center;
    height: 150px;
    overflow: hidden;
    flex-direction: row;
}

.hamburgerMenu-newProducts-slider-wrapper{
    display: flex;
    animation: slide-flow 20s infinite linear 1s both;
}

.hamburgerMenu-newProducts-slide{
    width: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
}

@keyframes slide-flow {
    0% {transform: translateX(0);}
    100% { transform: translateX(-100%);}
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.hamburgerMenu{
    position: absolute;
    top: -200%;
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
    overflow: scroll;
    z-index: 2;
}

.hamburgerMenu.active{
    top: 0;
}

.hamburgerMenu-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hamburgerMenu-logo{
    width: 150px;
    height: 80px;
    cursor: pointer;
}

.hamburgerMenu-logo img{
    width: 100%;
    height: 100%;
}

.hamburgerMenu-btn{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
    transform: scale(1,1);
    z-index: 999;
}

.hamburgerMenu-btn span{
    position: absolute;
    left: 14px;
    width: 45%;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    transition: all .4s;
}

.hamburgerMenu-btn span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(45deg);
    width: 30%;
}

.hamburgerMenu-btn span:nth-of-type(2) {
	opacity: 0;
}

.hamburgerMenu-btn span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(-45deg);
    width: 30%;
}

.hamburgerMenu-wrap{
    padding: 30px;
}

.hamburgerMenu-contents-title-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ebebeb;
    padding: 20px 0;
}

.hamburgerMenu-contents-title{
    display: flex;
    align-items: last baseline;
}

.hamburgerMenu-contents-title h4{
    color: #600624;
    font-size: 1rem;
    font-weight: 900;
}

.hamburgerMenu-contents-title p{
    color: #B8B0B1;
    font-size: .6rem;
    font-weight: 600;
    margin-left: 10px;
}

.hamburgerMenu-arrow-right{
    position: relative;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    flex-shrink: 0;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
}

.hamburgerMenu-arrow-right::before,
.hamburgerMenu-arrow-right::after{
    position: absolute;
    content:'';
}

.hamburgerMenu-arrow-right::before{
    top: 47%;
    left: 4px;
    width: 8px;
    height: 2px;
    background: #000;
}

.hamburgerMenu-arrow-right::after{
    top: 34%;
    left: 6px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}

.hamburger-contents-box-list{
    margin-bottom: 20px;
}

.hamburger-contents-box-item p{
    color: #000;
    font-size: .8rem;
    font-weight: 500;
    line-height: 2;
    cursor: pointer;
}

.hamburgerMenu-bottom{
    border-top: 1px solid #ebebeb;
}

.hamburgerMenu-bottom-shop-item h5{
    color: #600624;
    font-size: .8rem;
    font-weight: 900;
    padding: 30px 0 20px;
}

.hamburgerMenu-guide-icon{
    display: flex;
    align-items: center;
}

.hamburgerMenu-guide-icon:first-child{
    margin-bottom: 10px;
}

.hamburgerMenu-guide-icon:last-child{
    margin-bottom: 0;
}

.hamburgerMenu-guide-icon p{
    color: #000;
    font-size: .7rem;
    font-weight: 500;
}

.hamburgerMenu-sns h5,
.hamburgerMenu-mail h5{
    color: #600624;
    font-size: .8rem;
    font-weight: 900;
    padding: 30px 0 20px;
}

.hamburgerMenu-side{
    display: none;
}

.hamburgerMenu-newProducts{
    overflow: hidden;
    padding-bottom: 30px;
    background-color: #fff;
    border-top: 1px solid #efefef;
}

.hamburgerMenu-newProducts-title{
    color: #600624;
    font-size: .8rem;
    font-weight: 800;
    padding: 30px;
}

.hamburgerMenu-newProducts-slider-container{
    width: 1973px;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
}

.hamburgerMenu-newProducts-slider-wrapper{
    display: flex;
    animation: slide-flow 20s infinite linear 1s both;
}

.hamburgerMenu-newProducts-slide{
    width: 80px;
    object-fit: cover;
    border: 1px solid #ddd;
}

@keyframes slide-flow {
    0% {transform: translateX(0);}
    100% { transform: translateX(-100%);}
}

}