@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header-logo{
    width: 100px;
    height: 60px;
    margin-right: 20px;
}

.header-menu-left{
    display: flex;
    align-items: center;
}

.header-nav-list{
    display: flex;
}

.header-nav-list-item{
    margin-left: 20px;
}

.header-nav-list-item:first-child{
    margin-left: 0;
}

.header-nav-list-item p{
    color: black;
    font-size: .9rem;
    font-weight: 900;
}

.header-nav-list-item p:hover{
    color: #600624;
}

.header-nav-list-item a{
    cursor: pointer;
}

.header-menu-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-onlineShop-icon{
    display: flex;
    align-items: center;
}

.header-onlineShop-icon:hover{
    color: #600624;
}

.header-onlineShop-icon p{
    color: #000;
    font-size: .8rem;
    font-weight: 900;
    margin-left: 10px;
}

.header-onlineShop-icon p:hover{
    color: #600624;
}

.header-search-icon{
    padding: 0 30px;
    cursor: pointer;
}

.header-search-icon:hover{
    color: #600624;
}

.header-hamburgerMenu-btn{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
    transform: scale(1,1);
    z-index: 999;
}

.header-hamburgerMenu-btn span{
    position: absolute;
    left: 14px;
    width: 45%;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    transition: all .4s;
}

.header-hamburgerMenu-btn span:nth-of-type(1){
    top: 16px;
    width: 20%;
}

.header-hamburgerMenu-btn span:nth-of-type(2){
    top: 24px;
}

.header-hamburgerMenu-btn span:nth-of-type(3){
    top: 32px;
    width: 30%;
}

.header-hamburgerMenu-btn.hover{
    background-color: #600624;
    transform: scale(1.3,1.3);
}

.header-hamburgerMenu-btn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(45deg);
    width: 30%;
}

.header-hamburgerMenu-btn.active span:nth-of-type(2) {
	opacity: 0;
}

.header-hamburgerMenu-btn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(-45deg);
    width: 30%;
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.header-inner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav,
.header-onlineShop,
.header-search-icon{
    display: none;
}

.header-logo{
    width: 150px;
    height: 80px;
}

.header-logo img{
    width: 100%;
    height: 100%;
}

.header-menu-right{
    position: absolute;
    right: 20px;
}

.header-hamburgerMenu-btn{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
    transform: scale(1,1);
    z-index: 999;
}

.header-hamburgerMenu-btn span{
    position: absolute;
    left: 14px;
    width: 45%;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    transition: all .4s;
}

.header-hamburgerMenu-btn span:nth-of-type(1){
    top: 16px;
    width: 20%;
}

.header-hamburgerMenu-btn span:nth-of-type(2){
    top: 24px;
}

.header-hamburgerMenu-btn span:nth-of-type(3){
    top: 32px;
    width: 30%;
}

.header-hamburgerMenu-btn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(45deg);
    width: 30%;
}

.header-hamburgerMenu-btn.active span:nth-of-type(2) {
	opacity: 0;
}

.header-hamburgerMenu-btn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(-45deg);
    width: 30%;
}
}