@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.product{
    margin-top: 80px;
}

.product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}

.product-title{
    display: contents;
    align-items: center;
    color: black;
    font-size: 2.5rem;
    font-weight: 900;
    flex-shrink: 0;
}

.product-title::after{
    border-top: 1px solid #ededed;
    content: "";
    flex-grow: 1;
    margin: 0 10px;
}

.product-title-text{
    display: flex;
    cursor: pointer;
    flex-shrink: 0;
}

.product-title-text p{
    color: #000;
    font-size: .9rem;
    font-weight: 600;
}

.product-arrow-right{
    position: relative;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    flex-shrink: 0;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1,1);
}

.product-arrow-right.hover{
    background-color: #600624;
    border: 2px solid #600624;
    transform: scale(1.3,1.3);
}

.product-arrow-right::before,
.product-arrow-right::after{
    position: absolute;
    content:'';
}

.product-arrow-right::before{
    top: 47%;
    left: 4px;
    width: 8px;
    height: 2px;
    background: #000;
}

.product-arrow-right.hover::before{
    background: #fff;
}

.product-arrow-right::after{
    top: 34%;
    left: 6px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}

.product-arrow-right.hover::after{
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.product-date{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-date p{
    color: #000;
    font-size: 1.1rem;
    font-weight: 800;
}

.product-date p span{
    color: #000;
    font-size: .8rem;
    font-weight: 500;
}

.product-text p{
    color: #600624;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.7;
    margin-top: 10px;
}

.product-text p span{
    color: #000;
    font-size: .8rem;
    font-weight: 500;
}

.product-contents{
    margin-top: 80px;
}

.product-slider img {
    width:100%;
    height:auto;
    border-radius: 3px;
    transform: scale(1,1);
    transition: all .2s;
}

.product-slider img:hover{
    transform: scale(1.1,1.1);
    transition: all .2s;
}

.product-slider .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 96%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
 
.slick-prev {
    left: 60px;
}
 
.slick-next {
    right: 60px;
}
 
.slick-prev:before, .slick-next:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 40px;
    color: #000;
    --fa-primary-color: #000;
    --fa-secondary-color: #fff;
}
 
.slick-prev:before {
    content: '\f137';
}
 
.slick-next:before {
    content: '\f138';
}
 
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
 
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
 
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

/*ドットナビゲーションの設定*/

.product-slide-dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 60px;
}

.product-slide-dots::before{
    position: absolute;
    top: 50%;
    left: 30%;
    content: "'23 MAR";
    font-size: .8rem;
    font-weight: bold;
    color: #000;
    transform: translate(0,-50%);
}

.product-slide-dots::after{
    position: absolute;
    top: 50%;
    right: 30%;
    content: "'23 JUL";
    font-size: .8rem;
    font-weight: bold;
    color: #000;
    transform: translate(0,-50%);
}

.product-slide-dots li {
    display:inline-block;
}

.product-slide-dots button {
    color: transparent;
    outline: none;
    width:50px;
    height:1px;
    display:block;
    background:#ccc;
    border: 0;
}

.product-slide-dots .slick-active button{
    background:#000;/*ドットボタンの現在地表示の色*/
    border-radius: 10px;
    border: 2px solid #000;
    width: 100px;
}

.product-title-text-sp{
    display: none;
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.product{
    margin-top: 80px;
}

.product-contents{
    margin-top: 50px;
}

.product-title{
    color: #000;
    font-size: 2rem;
    font-weight: 900;
    padding-left: 8%;
}

.product-title-text{
    display: none;
}

.product-date{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-date p{
    color: #000;
    font-size: 1.1rem;
    font-weight: 800;
}

.product-date p span{
    color: #000;
    font-size: .8rem;
    font-weight: 500;
}

.product-text p{
    color: #600624;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.7;
    margin-top: 10px;
}

.product-text p span{
    color: #000;
    font-size: .8rem;
    font-weight: 500;
}

.product-slider{
    margin: 0 auto;
}

.product-slider img {
    width:100%;
    height:auto;
    border-radius: 3px;
}

.product-slider .slick-slide {
    margin:0 10px;
}

.product-slide-dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 60px 19%;
}

.product-slide-dots::before{
    position: absolute;
    top: 50%;
    left: -20%;
    content: "'23 MAR";
    font-size: .7rem;
    font-weight: bold;
    color: #000;
    transform: translate(0,-50%);
}

.product-slide-dots::after{
    position: absolute;
    top: 50%;
    right: -20%;
    content: "'23 JUL";
    font-size: .7rem;
    font-weight: bold;
    color: #000;
    transform: translate(0,-50%);
}

.product-slide-dots li {
    display:contents;
}

.product-slide-dots button {
    color: transparent;
    width: 40px;
    height: 1px;
    border: 0;
}

.product-slide-dots .slick-active button{
    background:#000;/*ドットボタンの現在地表示の色*/
    border-radius: 10px;
    border: 2px solid #000;
    width: 80px;
}

.product-title-text-sp{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 8%;
    margin-top: 30px;
}

.product-title-text-sp::before{
    border-top: 1px solid #ededed;
    content: "";
    flex-grow: 1;
    margin-right: 20px;
}

.product-title-text-sp p{
    color: #000;
    font-size: .9rem;
    font-weight: 600;
}

.product-arrow-right{
    position: relative;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    flex-shrink: 0;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1,1);
}

.product-arrow-right.hover{
    background-color: #600624;
    border: 2px solid #600624;
    transform: scale(1.3,1.3);
}

.product-arrow-right::before,
.product-arrow-right::after{
    position: absolute;
    content:'';
}

.product-arrow-right::before{
    top: 47%;
    left: 4px;
    width: 8px;
    height: 2px;
    background: #000;
}

.product-arrow-right::after{
    top: 34%;
    left: 6px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}

}