@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.product{
    margin-top: 80px;
}

.product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}

.product-title{
    display: contents;
    align-items: center;
    color: black;
    font-size: 2.5rem;
    font-weight: 900;
    flex-shrink: 0;
}

.product-title::after{
    border-top: 1px solid #ededed;
    content: "";
    flex-grow: 1;
    margin: 0 10px;
}

.product-title-text{
    display: flex;
    cursor: pointer;
    flex-shrink: 0;
}

.product-title-text p{
    color: #000;
    font-size: .9rem;
    font-weight: 600;
}

.product-arrow-right{
    position: relative;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    flex-shrink: 0;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1,1);
}

.product-arrow-right.hover{
    background-color: #600624;
    border: 2px solid #600624;
    transform: scale(1.3,1.3);
}

.product-arrow-right::before,
.product-arrow-right::after{
    position: absolute;
    content:'';
}

.product-arrow-right::before{
    top: 47%;
    left: 4px;
    width: 8px;
    height: 2px;
    background: #000;
}

.product-arrow-right.hover::before{
    background: #fff;
}

.product-arrow-right::after{
    top: 34%;
    left: 6px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}

.product-arrow-right.hover::after{
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.product-date{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-date p{
    color: #000;
    font-size: 1.1rem;
    font-weight: 800;
}

.product-date p span{
    color: #000;
    font-size: .8rem;
    font-weight: 500;
}

.product-text p{
    color: #600624;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.7;
    margin-top: 10px;
}

.product-text p span{
    color: #000;
    font-size: .8rem;
    font-weight: 500;
}

.product-contents{
    margin-top: 80px;
}

.slider img {
    width:100%;
    height:auto;
    border-radius: 3px;
}

.slider .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/


.slick-arrow:before{
	content:""!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 96%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: 60px;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: 60px;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.product-slide-dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 60px;
}

.product-slide-dots::before{
    position: absolute;
    top: 50%;
    left: 30%;
    content: "'23 MAR";
    font-size: .8rem;
    font-weight: bold;
    color: #000;
    transform: translate(0,-50%);
}

.product-slide-dots::after{
    position: absolute;
    top: 50%;
    right: 30%;
    content: "'23 JUL";
    font-size: .8rem;
    font-weight: bold;
    color: #000;
    transform: translate(0,-50%);
}

.product-slide-dots li {
    display:inline-block;
}

.product-slide-dots button {
    color: transparent;
    outline: none;
    width:50px;
    height:1px;
    display:block;
    background:#ccc;
    border: 0;
}

.product-slide-dots .slick-active button{
    background:#000;/*ドットボタンの現在地表示の色*/
    border-radius: 10px;
    border: 2px solid #000;
    width: 100px;
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.product{
    margin-top: 80px;
}

.product-contents{
    margin-top: 50px;
}

.product-title{
    color: #000;
    font-size: 2rem;
    font-weight: 900;
    padding-left: 8%;
}

.product-title-text{
    display: none;
}

.product-date{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-date p{
    color: #000;
    font-size: 1.1rem;
    font-weight: 800;
}

.product-date p span{
    color: #000;
    font-size: .8rem;
    font-weight: 500;
}

.product-text p{
    color: #600624;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.7;
    margin-top: 10px;
}

.product-text p span{
    color: #000;
    font-size: .8rem;
    font-weight: 500;
}

.slider{
    margin: 0 auto;
}

.slider img {
    width:100%;
    height:auto;
    border-radius: 3px;
}

.slider .slick-slide {
    margin:0 10px;
}

.product-slide-dots {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 60px;
}

.product-slide-dots li {
    display:inline-block;
}

.product-slide-dots button {
    color: transparent;
    width: 20px;
    height: 1px;
    border: 0;
}

.product-slide-dots .slick-active button{
    background:#000;/*ドットボタンの現在地表示の色*/
    border-radius: 10px;
    border: 2px solid #000;
    width: 50px;
}

}