@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.recipe{
    margin-top: 80px;
}

.recipe-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}

.recipe-title{
    display: contents;
    align-items: center;
    color: black;
    font-size: 2.5rem;
    font-weight: 900;
    flex-shrink: 0;
}

.recipe-title::after{
    border-top: 1px solid #ededed;
    content: "";
    flex-grow: 1;
    margin: 0 10px;
}

.recipe-title-text-pc{
    display: flex;
    cursor: pointer;
    flex-shrink: 0;
}

.recipe-title-text-pc p{
    color: #000;
    font-size: .9rem;
    font-weight: 600;
}

.recipe-arrow-right{
    position: relative;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    flex-shrink: 0;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1,1);
}

.recipe-arrow-right.hover{
    background-color: #600624;
    border: 2px solid #600624;
    transform: scale(1.3,1.3);
}

.recipe-arrow-right::before,
.recipe-arrow-right::after{
    position: absolute;
    content:'';
}

.recipe-arrow-right::before{
    top: 47%;
    left: 4px;
    width: 8px;
    height: 2px;
    background: #000;
}

.recipe-arrow-right.hover::before{
    background: #fff;
}

.recipe-arrow-right::after{
    top: 34%;
    left: 6px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}

.recipe-arrow-right.hover::after{
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.recipe-contents{
    margin-top: 80px;
    overflow: auto;
}

.recipe-slider{
    width: 232vw;
    padding: 0 5%;
    overflow-x: scroll;
}

.recipe-slider::-webkit-scrollbar{
    display: none;
}

.recipe-contents-list{
    display: flex;
}

.recipe-contents-item{
    width: 8%;
    margin-right: 30px;
}

.recipe-contents-item:last-child{
    margin-right: 0;
}

.recipe-contents-item img{
    width: 100%;
    border-radius: 5px;
}

.recipe-item-title{
    color: #000;
    font-size: .9rem;
    font-weight: 600;
    margin: 10px 0;
}

.recipe-item-tag{
    display: flex;
    align-items: center;
}

.recipe-item-tag p{
    color: #86797A;
    font-size: .7rem;
    font-weight: 600;
    margin-left: 10px;
}

.recipe-item-tag p:first-child{
    margin-left: 0;
}

.recipe-title-text-sp{
    display: none;
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.recipe{
    margin-top: 80px;
}

.recipe-title{
    color: #000;
    font-size: 2rem;
    font-weight: 900;
    padding: 0 8%;
}

.recipe-title-text-pc{
    display: none;
}

.recipe-contents{
    margin-top: 40px;
    overflow: auto;
}

.recipe-slider{
    width: 1500px;
    padding: 0 8%;
}

.recipe-contents-list{
    display: flex;
}

.recipe-contents-item{
    width: 10%;
    margin-right: 20px;
}

.recipe-contents-item:last-child{
    margin-right: 0;
}

.recipe-contents-item img{
    border-radius: 5px;
}

.recipe-item-title{
    color: #000;
    font-size: .9rem;
    font-weight: 600;
    margin: 10px 0;
}

.recipe-item-tag{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.recipe-item-tag p{
    color: #86797A;
    font-size: .7rem;
    font-weight: 600;
    margin-right: 10px;
}

.recipe-item-tag p:last-child{
    margin-right: 0;
}

.recipe-title-text-sp{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 8%;
    margin-top: 30px;
}

.recipe-title-text-sp::before{
    border-top: 1px solid #ededed;
    content: "";
    flex-grow: 1;
    margin-right: 20px;
}

.recipe-title-text-sp p{
    color: #000;
    font-size: .9rem;
    font-weight: 600;
}

.recipe-arrow-right{
    position: relative;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    flex-shrink: 0;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1,1);
}

.recipe-arrow-right.hover{
    background-color: #600624;
    border: 2px solid #600624;
    transform: scale(1.3,1.3);
}

.recipe-arrow-right::before,
.recipe-arrow-right::after{
    position: absolute;
    content:'';
}

.recipe-arrow-right::before{
    top: 47%;
    left: 4px;
    width: 8px;
    height: 2px;
    background: #000;
}

.recipe-arrow-right::after{
    top: 34%;
    left: 6px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}
}